antlr aopalliance asm avalon-framework backport-util-concurrent biz bouncycastle c3p0 cglib ch classworlds cn com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-configuration commons-dbcp commons-dbutils commons-digester commons-fileupload commons-httpclient commons-io commons-jxpath commons-lang commons-logging commons-pool commons-validator de dnsjava dom4j error eu io it javax jaxen jdom jline joda-time jtidy junit junitperf log4j logkit ma me mysql net nz ognl opensymphony org oro plexus redis sslext stax taglibs velocity wsdl4j xerces xml-apis xml-resolver xmlpull xmlunit xpp3
